body {
  background-color: rgb(246, 213, 172);
  background-image: url(Images/—Pngtree—abstract\ with\ hexagons\ pattern_5355401.png);
  background-size: 100%;
}
#headbox {
  font-family: 'Eb Garamond', 'Raleway', 'sans-serif';
  font-size: 25px;
  text-align: center;
  border-radius: 40px;
  padding: 10px;
  background-color: rgb(189, 145, 86);
  opacity: 0.9;
}
.header {
  text-align: center;
  border-radius: 40px;
  background-color: rgb(189, 145, 86);
  opacity: 0.9;
  font-size: 40px;
  padding: 20px;
}
.Wbox {
  list-style-position: inside;
  margin: auto;
  margin-top: 20px;
  display: block;
  width: 40%;
  background-color: rgb(189, 145, 86);
  opacity: 0.9;
  border-radius: 40px;
  font-family: 'Josefin Slab', serif;
  font-size: 30px;
  text-align: center;
  padding: 30px;
}
.blog-links {
  align-content: center;
  justify-content: center;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 40px;
  opacity: 0.9;
}
.sprints {
  font-family: 'Josefin Slab', serif;
  font-weight: bold;
  font-size: 20px;
  color: black;
  text-align: center;
  padding: 30px;
  border-radius: 20px;
  background-color: rgb(189, 145, 86);
}
.links {
  text-decoration: none;
  line-height: 15pt;
  display: block;
  margin: 10px;
  color: black;
}
#Fbox {
  margin: auto;
  margin-top: 20px;
  display: block;
  width: 20%;
  border: 5px solid rgb(189, 145, 86);
  border-radius: 50px;
}
.intro {
  list-style-position: inside;
  font-family: 'Josefin Slab', serif;
  margin-top: 30px;
  text-align: center;
  font-weight: 500;
  font-size: large;
  background-color: rgb(189, 145, 86);
  opacity: 0.9;
  border-radius: 40px;
  padding: 20px;
}
span {
  font-weight: bold;
}
.box1 {
  list-style-position: inside;
  text-align: center;
  width: auto;
  background-color: rgb(189, 145, 86);
  opacity: 0.9;
  border-radius: 40px;
  padding: 20px;
}
.sidebox {
  align-content: center;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: auto;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 60px;
  opacity: 0.9;
}
.codeimg {
  align-content: center;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-right: auto;
  display: grid;
  grid-template-columns: auto;
  gap: 20px;
}

.imgsize {
  max-width: 80%;
  height: auto;
  width: auto;
}
